.component {
  @import 'styles/breakpoints';
  @import 'styles/css-variables';

  color: var(--wpe--color--white);
  background-color: var(--wpe--header--background-color);

  .bar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2rem 0 0 0;
    gap: 2rem;
  }

  .nav-cart-bar {
    display: flex;
    justify-content: space-between;
    color: var(--wpe--color--white);
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 2rem;
  }

  .logo {
    width: 400px;
    height: auto;
    margin: 0.8rem 0;

    @media (max-width: $breakpoint-extra-small) {
      width: 50%;
    }
  }

  .logo h3 {
    margin-bottom: 0;
    font-size: 1.5em;
  }

  .logo img {
    width: 100px;
    height: auto;
    margin-right: 15px;
  }

  .logo a {
    color: var(--color-secondary);
    text-decoration: none;
  }

  .search {
    display: none;
    width: 100%;

    &.show {
      display: block;
    }

    @media (min-width: $breakpoint-small) {
      display: block;
      width: auto;
    }
  }

  .search a {
    color: var(--color-secondary);
    text-decoration: none;
  }

  .nav-toggle {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 1.2rem;
    background-color: transparent;
    color: var(--wpe--color--white);
    border: 0.1rem solid var(--wpe--color--white);
    transition: color 0.3s ease, background-color 0.3s ease;

    &:hover,
    &:focus {
      background-color: var(--wpe--color--white);
      color: var(--color-primary);
    }

    @media (min-width: $breakpoint-small) {
      display: none;
    }

    @media (max-width: $breakpoint-extra-small) {
      height: 50px;
    }
  }

  .primary-navigation {
    display: none;
    width: 100%;

    &.show {
      display: block;
    }

    @media (min-width: $breakpoint-small) {
      display: block;
      width: auto;
    }

    :global(.menu) {
      display: flex;
      flex-direction: column;
      align-items: center;
      list-style: none;
      text-transform: uppercase;
      font-size: 1.4rem;
      margin: 0;

      @media (min-width: $breakpoint-small) {
        flex-direction: row;
      }

      li {
        margin: 0;
      }

      a {
        display: inline-flex;
        align-items: center;
        height: 100%;
        padding: 1rem;
        font-weight: var(--wpe--font-weight--bold);
        color: var(--color-secondary);

        &:hover,
        &:focus {
          border: 1px solid var(--wpe--color--white);
          color: var(--wpe--color--white);
          padding: 0.9rem;
        }
      }
    }
  }

  .sign-out {
    display: inline-flex;
    align-items: center;
    height: 100%;
    padding: 1rem;
    font-weight: var(--wpe--font-weight--bold);
    color: var(--color-secondary);

    &:hover,
    &:focus {
      color: var(--color-white);
      padding: 0.9rem;
    }
  }

  .icon-cart {
    align-self: center;

    svg {
      fill: currentColor;
      display: inline-block;
      vertical-align: baseline;
      height: 1.25em;
      float: right;
    }
  }

  .site-header-cart {
    width: 22%;
    float: right;
    position: relative;
    list-style-type: none;
    padding: 0;
    margin: 0.5rem 0 0 0;
    &:hover {
      .widget_shopping_cart {
        display: block;
      }
    }

    @media (min-width: $breakpoint-extra-small) and (max-width: $breakpoint-small) {
      margin: 0.1rem 0 0 0;
    }

    .cart-contents {
      display: block;
      position: relative;
      background-color: transparent;
      height: auto;
      width: auto;
      text-indent: 0;

      @media (max-width: $breakpoint-small) {
        padding: 0.5em 0;
      }

      span {
        display: inline;
      }
      .price-amount {
        margin-right: 0.5em;
      }
      .count {
        font-weight: 400;
        font-size: 0.9em;
      }
    }
    .widget_shopping_cart {
      left: 0;
      display: none;
      background-color: var(--wpe--header--background-color);
      color: var(--wpe--color--white);
      position: absolute;
      top: 100%;
      width: 100%;
      z-index: 999999;
      font-size: 0.9em;
      margin-bottom: 0;
      a {
        color: var(--wpe--color--white);
        display: block;
      }
      .product_list_widget {
        height: auto;
        margin-bottom: 0;
        list-style: none;
        margin-left: 0;
        padding: 1em;
        .mini_cart_item {
          margin-bottom: 0.25em;
          position: relative;
          border-bottom: 1px solid rgba(0, 0, 0, 0.05);
          .thumbnail {
            margin-left: 1em;
            max-width: 3em;
            float: right;
            height: auto;
            display: block;
            border-radius: 3px;
          }
          .quantity {
            color: var(--wpe--color--white);
          }
        }
      }
      .mini-cart__total {
        padding: 1em;
        background-color: var(--wpe--header--background-color);
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        margin: 0;
        text-align: center;
      }
      .mini-cart__buttons {
        padding: 1em;
        background-color: var(--wpe--header--background-color);
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        margin: 0;
        text-align: center;
        .button {
          background-color: var(--wpe--color--green);
          border-color: var(--wpe--color--green);
          color: var(--wpe--color--white);
          display: block;
          margin-bottom: 0.6180469716em;
          border: 0;
          border-radius: 0;
          cursor: pointer;
          padding: 0.6180469716em 1.41575em;
          text-decoration: none;
          font-weight: 600;
          text-shadow: none;
          word-break: break-all;
          &:hover {
            background-color: var(--wpe--color--green);
            border-color: var(--wpe--color--green);
            color: var(--wpe--color--white);
          }
        }
      }
    }

    @media (max-width: $breakpoint-extra-small) {
      width: 100%;
    }
  }
}
