.component {
  @import 'styles/css-variables';

  position: relative;
  margin-bottom: 3rem;

  .icon {
    position: absolute;
    font-size: 1.2rem;
    width: 1.2rem;
    height: 1.2rem;
    top: 50%;
    left: 2rem;
    transform: translateY(-50%);
    color: var(--wpe--color--black);
  }

  .input {
    width: 100%;
    appearance: none;
    background-color: var(--color--white);
    box-shadow: var(--wpe--color--black) 0px 0px 0px 0px,
      var(--wpe--color--black) 0px 0px 0px 0px,
      rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    display: block;
    color: var(--wpe--color--black);
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 0;
    padding: 1rem 1.5rem 1rem 5rem;
    border: 1px solid var(--wpe--color--grey);
    border-radius: 0.5rem;
  }
}
