.cartTotals {
  @import 'styles/breakpoints';
  @import 'styles/css-variables';

  width: 100%;
  margin-top: 3rem;
  margin-left: auto;

  @media (min-width: $breakpoint-small) {
    width: 30%;
  }

  table {
    width: 100%;
    th,
    td {
      width: 50%;
      padding: 1rem;
    }
    th {
      background-color: var(--wpe--color--offwhite);
      text-align: right;
    }
    tr {
      text-align: left;
    }
  }

  .checkoutButton {
    width: 100%;
    margin-top: 1rem;
    text-align: center;
  }

  .button {
    background-color: var(--wpe--color--green);
    border-color: var(--wpe--color--dark-green);
    color: var(--wpe--color--white);
    display: block;
    margin-bottom: 0.6rem;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    padding: 0.6rem 1.4rem;
    text-decoration: none;
    font-weight: 600;
    text-shadow: none;
    word-break: break-all;

    &:hover {
      background-color: var(--wpe--color--dark-green);
    }
  }
}
