@import 'styles/breakpoints';

.cartTable {
  table {
    width: 100%;
    overflow-x: auto;
    padding-top: 3rem;

    .cartImage {
      height: 90px;
    }

    .hideOnMobile {
      @media (max-width: $breakpoint-extra-small) {
        display: none;
      }
    }
    tr {
      width: 80%;
      display: flex;
      justify-content: space-between;
    }
  }
}
