# Your WordPress site URL
export NEXT_PUBLIC_WORDPRESS_URL=https://atlasshopify.wpengine.com

# Plugin secret found in WordPress Settings->Faust
# FAUST_SECRET_KEY=YOUR_PLUGIN_SECRET

# Shopify configuration
export NEXT_PUBLIC_SHOPIFY_HEADLESS_PUBLIC_ACCESS_TOKEN=3accc15150c6fadc731a4763deb6a2ee
export NEXT_PUBLIC_SHOPIFY_GRAPHQL_URL=https://blueprintbetatest.myshopify.com/api/2023-01/graphql.json

# BigCommerce configuration
export NEXT_PUBLIC_BIGCOMMERCE_CLIENT_ID=p7anmrh1jj1r7al8bny0a9nx69ccyth
export NEXT_PUBLIC_BIGCOMMERCE_ACCESS_TOKEN=mqp9naa37pr4pjz6ybrux99598a45ca
export NEXT_PUBLIC_BIGCOMMERCE_API_PATH=https://api.bigcommerce.com/stores/sowr02yzax/v3/
export NEXT_PUBLIC_BIGCOMMERCE_CLIENT_SECRET=ef3887d24fb1ac1aa97e065d4179ea3b9a22ad613a81284c64082c6b8be27f01
