# Your WordPress site URL
export NEXT_PUBLIC_WORDPRESS_URL=https://atlasshopify.wpengine.com

# Plugin secret found in WordPress Settings->Faust
# FAUST_SECRET_KEY=YOUR_PLUGIN_SECRET

# Shopify configuration
export NEXT_PUBLIC_SHOPIFY_HEADLESS_PUBLIC_ACCESS_TOKEN=3accc15150c6fadc731a4763deb6a2ee
export NEXT_PUBLIC_SHOPIFY_GRAPHQL_URL=https://blueprintbetatest.myshopify.com/api/2023-01/graphql.json
