.component {
  @import 'styles/css-variables';
  @import 'styles/breakpoints';

  .result {
    display: block;
    margin-bottom: 6rem;
  }

  .title {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    color: var(--wpe--color--black);
  }

  .subtitle {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: var(--wpe--color--black);
  }

  .meta {
    font-size: small;
    margin-bottom: 2rem;
  }

  .no-results {
    text-align: center;
    margin-top: 8rem;
    margin-bottom: 8rem;
    color: var(--wpe--color--grey);
  }

  .no-results-icon {
    font-size: 6rem;
  }

  .no-results-text {
    font-size: 3rem;
  }

  .shop {
    padding: 50px 0px;

    .productWrapper {
      position: relative;
      display: flex !important;
      flex-wrap: wrap;

      a {
        position: relative;
      }

      .onsale {
        border: 1px solid;
        border-color: var(--wpe--color--slate);
        color: var(--wpe--color--slate);
        padding: 0.202em 0.6180469716em;
        margin: 10px;
        font-size: 0.875em;
        text-transform: uppercase;
        font-weight: 600;
        display: inline-block;
        margin-bottom: 1em;
        border-radius: 3px;
        position: absolute;
        background-color: var(--wpe--color--white);
      }

      .productImageContainer {
        position: relative;
        display: block;
        width: 100%;
        text-align: center;
        height: 200px;

        .productImage {
          width: 80%;
          height: auto;
          margin: 0 auto;

          @media (max-width: $breakpoint-extra-small) {
            width: auto;
          }
        }
      }

      .productInfoContainer {
        padding: 2rem 0;
        text-align: center;
        margin-top: auto;
        width: 100%;

        .productTitle {
          width: auto;
          margin-bottom: 1rem;
          font-weight: 300;
          font-size: 1.2em;

          a {
            text-decoration: none;
            &:hover {
              text-decoration: underline;
            }
          }
        }

        .productPrice {
          width: auto;
          color: var(--wpe--color--black);
          font-weight: 700;
          margin-bottom: 1rem;
        }

        .buttonContainer {
          .button {
            margin: 0px 0.5rem;
            background-color: var(--wpe--color--green);
            text-decoration: none;
            font-weight: 500;
            padding: 1rem;
            display: inline-block;
            color: var(--wpe--color--white);
            transition: all 0.5s;
            &:hover {
              background-color: var(--wpe--color--green);
            }
          }
        }
      }
    }
  }

  @keyframes SearchResultLoadingAnimation {
    0% {
      background-position: -500px 0;
    }
    100% {
      background-position: 500px 0;
    }
  }

  .loader-bg {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: SearchResultLoadingAnimation;
    animation-timing-function: linear;
    background: var(--wpe--color--white);
    background: linear-gradient(
      to right,
      var(--wpe--color--white) 8%,
      var(--wpe--loading--search--result-background-color) 18%,
      var(--wpe--color--white) 33%
    );
    background-size: 1000px 104px;
    height: 338px;
    position: relative;
    overflow: hidden;
  }

  .loading-result {
    margin-bottom: 6rem;
  }

  .loading-result-title {
    @extend .loader-bg;

    width: 70%;
    background-color: var(--wpe--loading--search--result-background-color);
    height: 4rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
  }

  .loading-result-meta {
    @extend .loader-bg;
    width: 20%;
    background-color: var(--wpe--loading--search--result-background-color);
    height: 2rem;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
  }

  .loading-result-excerpt {
    @extend .loader-bg;
    width: 100%;
    background-color: var(--wpe--loading--search--result-background-color);
    height: 14rem;
    border-radius: 0.5rem;
  }
}
