version: 2.1
orbs:
  node: circleci/node@5.1.0
  wp-product-orb: wpengine/wp-product-orb@1.3.1

jobs:
  checkout-blueprint:
    executor: wp-product-orb/default
    environment:
      WPE_SESSION_DIR: ./.wpe
    parameters:
      slug:
        type: string
    steps:
      - checkout:
          path: <<parameters.slug>>
      - persist_to_workspace:
          root: .
          paths:
            - <<parameters.slug>>
  js-build:
    executor:
      name: node/default
      tag: '16.13.0'
    parameters:
      slug:
        type: string
      next_public_wordpress_url:
        type: string
    working_directory: .
    steps:
      - attach_workspace:
          at: .
      - node/install-packages:
          app-dir: <<parameters.slug>>
      - run:
          name: NPM build
          command: |
            export NEXT_PUBLIC_WORDPRESS_URL=<<parameters.next_public_wordpress_url>>
            # Ignoring failures until we have an Atlas app
            npm run build || true
          working_directory: <<parameters.slug>>
      - persist_to_workspace:
          root: .
          paths:
            - .
  js-lint:
    executor:
      name: node/default
      tag: '16.13.0'
    parameters:
      slug:
        type: string
    working_directory: .
    steps:
      - attach_workspace:
          at: .
      - node/install-packages:
          app-dir: <<parameters.slug>>
      - run:
          name: List
          command: |
            pwd
            ls -la
          working_directory: <<parameters.slug>>
      - run:
          name: NPM lint
          command: |
            npm run lint
          working_directory: <<parameters.slug>>
      - persist_to_workspace:
          root: .
          paths:
            - .
# Orchestrate our job run sequence
workflows:
  build:
    jobs:
    - checkout-blueprint:
        slug: atlas-shopify-blueprint
        filters:
          branches:
            only: /.*/
    - js-build:
        slug: atlas-shopify-blueprint
        next_public_wordpress_url: http://foo.com
        requires:
          - checkout-blueprint
        filters:
          branches:
            only: /.*/
    - js-lint:
        slug: atlas-shopify-blueprint
        requires:
          - checkout-blueprint
        filters:
          branches:
            only: /.*/
