.component {
  @import 'styles/css-variables';

  background-color: var(--wpe--color--grey);

  h2 {
    padding: 2em;
  }

  .title {
    text-align: center;
    font-size: 50px;
    padding: 1em;
    margin-bottom: 0em;
  }

  .description {
    padding: 1rem 0;
    text-align: center;
    margin-top: auto;
    width: 100%;
  }

  .buttonContainer {
    .button {
      margin: 0px 0.5rem;
      background-color: var(--wpe--color--green);
      text-decoration: none;
      font-weight: 500;
      padding: 1rem;
      display: inline-block;
      color: var(--wpe--color--white);
      transition: all 0.5s;
      &:hover {
        background-color: var(--wpe--color--green);
      }
    }
  }
}
