.notification {
  display: flex;
  margin: 2.5em 0;
  padding: 1em 2em 1em 3.5em;
  color: var(--wpe--color--white);

  .message {
    margin-right: auto;
  }

  a {
    color: inherit;
    text-decoration: underline;
  }
}

.success {
  background: var(--wpe--color--green);
}

.error {
  background: var(--wpe--color--red);
}
