.component {
  @import 'styles/css-variables';

  ul {
    list-style: circle inside;
    padding-inline-start: 0;
    margin-top: 2rem;
  }

  li {
    margin-bottom: 1rem;
  }

  a {
    color: var(--wpe--color--black);

    &:hover,
    &:focus {
      color: var(--wpe--color--black);
      text-decoration: underline;
    }
  }
}
