.component {
  @import 'styles/css-variables';

  background-color: var(--wpe--color--white);
  margin-bottom: 4rem;
  margin-top: -2px;

  .search-header-text {
    text-align: center;
    color: var(--wpe--color--white);
    padding-top: 2rem;
    padding-bottom: 4rem;
  }

  .load-more {
    text-align: center;
  }
}
