.component {
  @import 'styles/css-variables';

  background-color: var(--wpe--color--grey);

  h1 {
    padding: 2em;
  }

  .testimonialCard {
    flex: 1;

    figure {
      margin: 1em !important;
    }

    p {
      margin: 1em !important;
    }
  }
}
