// Global styles
// These styles are available on all pages.
// If a component has it's own styles, they can be found within the component's respective directory.

@import 'breakpoints';
@import 'css-variables';
@import 'base';
@import 'utilities';

.section {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 4em;
  display: flex;
}

.buttonContainer {
  .button {
    margin: 0px 0.5rem;
    background-color: var(--wpe--color--green);
    text-decoration: none;
    font-weight: 500;
    padding: 1rem;
    display: inline-block;
    color: var(--wpe--color--white);
    transition: all 0.5s;
    &:hover {
      background-color: var(--wpe--color--green);
    }
  }
}

.shop-grid {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4em;
}
